.motivos {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}
  
.motivos div h1 {
    font-size: 60px;
}
  
.motivos div p {
    font-size: 30px;
}
  
.alterna {
    flex-direction: row-reverse;
}

/* .zoom:hover {
    transform: scale(1.5);
    transition: 0.3s all;
    cursor: pointer;
}

.zoom:not(:hover){
    transform: scale(1);
    transition: 0.5s all;
} */