/* .vermelho {
    color: red;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  /*! background: black; */
  height: 80px;
  position: absolute;
  z-index: 1;
  width: 100vw;
}

header div img {
  width: 170px;
}

header #login {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

header #login select {
  background: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}

header #login button {
  background: #e50914;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

section#banner {
  background-image: url("../images/banner.jpg");
  color: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

section#banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.69;
}

section#banner * {
  position: relative;
  z-index: 1;
}
section#banner h1 {
  font-size: 70px;
  position: relative;
  z-index: 1;
}

section#banner div {
  width: 40%;
  display: flex;
  position: relative;
  z-index: 1;
}

section#banner div input {
  height: 60px;
  width: 80%;
  font-size: 20px;
  border-radius: 4px;
}

section#banner div button {
  width: 19%;
  background: #e50914;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 4px;
}

section.motivos {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}

section.motivos div {
}

section.motivos div h1 {
  font-size: 60px;
}

section.motivos div p {
  font-size: 30px;
}

section.motivos div img {
}

hr.divisor {
  height: 8px;
  background-color: #222;
  border: none;
}

.alterna {
  flex-direction: row-reverse;
}
